{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block about %}
    <p>Stranded on a desolate island? Hungry? It's okay we are here to save you from the evil tyrant of hunger. Let
        me introduce you to a mexican fusion dish bursting with flavor. I welcome the Shrimp and Black Bean
        Quesadilla. This is no ordinary quesadilla, we have managed to contain land and sea in one delicious snack.
        With this dish in your culinary arsenal we guarantee friends will worship you, strangers will want to be you
        and mouths will water from all around. Let our recipe take you to new heights.
    </p>
{% endblock %}

{% block recipes %}
    <h2>{{ recipes.title }}</h2>
    <p>
        {% for ingredient in recipes.ingredients %}
        {{ ingredient.amount}} {{ ingredient.name }}<br>
        {% endfor %}
    </p>
    <p> {{ recipes.description }} </p>
{% endblock %}

{% block designers %}
    <p>We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p><b>Team members</b>:</p>
{% endblock %}